/dts-v1/;
#include "mt6893.dtsi"
#include "mt6359.dtsi"

/ {
        model = "Infinix Note 30 VIP";
        chassis-type = "handset";
        compatible = "infinix,x6710";

        chosen {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;

                bootargs = "PMOS_NOSPLASH console=tty0 console=ttyGS0 clk_ignore_unused regulator_ignore_unused pd_ignore_unused loglevel=7 debug";

                framebuffer@76a10000 {
                        compatible = "simple-framebuffer";
                        reg = <0 0x76a10000 0 0x1df0000>;
                        width = <1080>;
                        height = <2400>;
                        stride = <((1080 + 8) * 4)>;
                        format = "a8r8g8b8";
                        status = "okay";
                };
        };


        memory@40000000 {
                device_type = "memory";
                reg = <0 0x40000000 0x3 0>;
        };

        reserved-memory {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;

                memory@ffe60000 {
                        reg = <0 0xffe60000 0 0x190000>;
                        no-map;
                };

                memory@74000000 {
                        reg = <0 0x74000000 0 0xe30000>;
                        no-map;
                };

                memory@88000000 {
                        reg = <0 0x88000000 0 0x5560000>;
                        no-map;
                };

                memory@8e000000 {
                        reg = <0 0x8e000000 0 0x910000>;
                        no-map;
                };

                0xfa850000 {
                        reg = <0 0xfa850000 0 0x37b0000>;
                        no-map;
                };

                memory@e4000000 {
                        reg = <0 0xe4000000 0 0x7eb0000>;
                        no-map;
                };

                memory@e3000000 {
                        reg = <0 0xe3000000 0 0xf0000>;
                        no-map;
                };

                memory@e0000000 {
                        reg = <0 0xe0000000 0 0x2080000>;
                        no-map;
                };

                memory@bff70000 {
                        reg = <0 0xbff70000 0 0x10000>;
                        no-map;
                };

                memory@9fb00000 {
                        reg = <0 0x9fb00000 0 0x400000>;
                        no-map;
                };

                memory@75000000 {
                        reg = <0 0x75000000 0 0x10000>;
                        no-map;
                };

                memory@be510000 {
                        reg = <0 0xbe510000 0 0x18f0000>;
                        no-map;
                };

                memory@76a10000 {
                        reg = <0 0x76a10000 0 0x1df0000>;
                        no-map;
                };

                memory@7ffa0000 {
                        reg = <0 0x7ffa0000 0 0x8000>;
                        no-map;
                };

                memory@48170000 {
                        reg = <0 0x48170000 0 0x10000>;
                        no-map;
                };

                memory@48090000 {
                        reg = <0 0x48090000 0 0xe0000>;
                        no-map;
                };

                memory@48080000 {
                        reg = <0 0x48080000 0 0x10000>;
                        no-map;
                };

                memory@5ff00000 {
                        reg = <0 0x5ff00000 0 0x80000>;
                        no-map;
                };

                memory@7ed00000 {
                        reg = <0 0x7ed00000 0 0x100000>;
                        no-map;
                };

                memory@78800000 {
                        reg = <0 0x78800000 0 0x6000000>;
                        no-map;
                };

                memory@7fea0000 {
                        reg = <0 0x7fea0000 0 0x100000>;
                        no-map;
                };

                memory@7e800000 {
                        reg = <0 0x7e800000 0 0x400000>;
                        no-map;
                };

                memory@bfe00000 {
                        reg = <0 0xbfe00000 0 0x40000>;
                        no-map;
                };

                memory@bff80000 {
                        reg = <0 0xbff80000 0 0x80000>;
                        no-map;
                };

                memory@48c00000 {
                        reg = <0 0x48c00000 0 0x200000>;
                        no-map;
                };

                memory@7ffaf000 {
                        reg = <0 0x7ffaf000 0 0x10000>;
                };

                memory@7ffbf000 {
                        reg = <0 0x7ffbf000 0 0x40000>;
                };

                memory@7ec00000 {
                        reg = <0 0x7ec00000 0 0x41000>;
                };

                memory@7ee00000 {
                        reg = <0 0x7ee00000 0 0x1000000>;
                        no-map;
                };

                memory@7ffff000 {
                        reg = <0 0x7ffff000 0 0x1000>;
                        no-map;
                };
        };
};
/*
&u2port0 {
	status = "okay";
};

&u2port {
	status = "okay";
};

&u3phy0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usbphy {
	status = "okay";
};
*/

&u3phy0 {
    status = "okay";
};

&u2port0 {
    status = "okay";
};

&u3port0 {
    status = "okay";
};
